.home {
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 0px 10px;
    height: 100vh;
}

.home_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    height: 100vh; /* Ensure the container takes up the full height */
}

.home_img {
    max-height: 90%; /* Ensure the image takes up to 70% of the container height */
    width: 90%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
    z-index: 1;
    filter: brightness(70%);
}

.home_data {
    max-width: 700px;
    margin-inline: auto;
    padding-top: 190px;
    padding-right: 100px;
}

.home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Ensure the content takes up the full height of its container */
}

.home_title {
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 90px;
}

.home_title span {
    color: var(--first-color);
}

.home_title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home_description {
    line-height: 2.125;
    margin-block: 16px 32px;
    font-size: var(--smaller-font-size);
}

.color_block {
    position: fixed;
    height: 200%;
    width: 97%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}

/* Responsive Styles */

@media (max-width: 1024px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 0px;
        height: 90vh;
    }

    .home_img_container {
        /* display: flex; */
        /* justify-content: center; */
        padding-right: 0; /* Adjust image size for medium screens */
        height: 50vh;
    }

    .home_img {
         max-width: 50%; /*Adjust image size for medium screens */
        max-height: 85%;
        border-radius: 50%;
        margin-top: 30%;
    }

    .home_description {
        font-size: var(--tiny-font-size);
    }

    .home_title {
        font-size: var(--h1-font-size);
        padding: 0;
    }
    
    .home_title span {
        color: var(--first-color);
        display: block; /* Make the name appear on a new line */
    }

    .home_title::before {
        content: '';
        display: none;
    }

    .home_description {
        font-size: var(--small-font-size);
    }

    .home_data {
        max-width: auto;
        padding: 150px 30px;
    }
    .color_block {
       display: none;
    }
}

@media (max-width: 480px) {
    .home_img {
        width: 60%;
        height: 50vh;
    }

    .home_img_container {
        /* display: flex; */
        /* justify-content: center; */
        padding-right: 0; /* Adjust image size for medium screens */
        height: 50vh;
        width: auto;
    }

    .home_img {
        max-width: 80%; /*Adjust image size for medium screens */
       max-height: 70%;
       border-radius: 50%;
       margin-top: 15%;
   }

   .home_data {
        max-width: auto;
        padding: 5px 30px;
    }

    .home_title {
        font-size: var(--h2-font-size);
        padding: 0;
    }

    .home_description {
        font-size: var(--tiny-font-size);
    }

    .button {
        padding: 10px 50px 10px 70;
    }

    .button_icon {
        font-size: var(--small-font-size);
    }
}