.home {
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 0px 10px;
    height: 100vh;
}

.home_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    height: 100vh; /* Ensure the container takes up the full height */
}

.home_img {
    max-height: 90%; /* Ensure the image takes up to 70% of the container height */
    width: 90%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
    z-index: 1;
    filter: brightness(70%);
}

.home_data {
    max-width: 550px;
    margin-inline: auto;
    padding-top: 20px;
}

.home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Ensure the content takes up the full height of its container */
}

.home_title {
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home_title span {
    color: var(--first-color);
}

.home_title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home_description {
    line-height: 2.125;
    margin-block: 16px 32px;
}

.color_block {
    position: fixed;
    height: 200%;
    width: 97%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}